.App {
  text-align: center;
  margin-top: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  height: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  display: block;
  cursor: pointer;
  text-align: center;
}
.cardSecondPage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 25%;
  height: 20%;
  margin: 0 auto;
  margin-top: 20%;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardSecondPage:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.tag {
  text-decoration: none;
  color: white;
}
